<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broad</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
        rel="stylesheet">
    <link href="../../public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../../public/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="../../public/stylesheets/swiper.css" rel="stylesheet">
    <link href="../../public/stylesheets/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="../../public/stylesheets/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch'
        href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

    <link href="../../public/stylesheets/broad-add.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css">


</head>

<body>
    <input type="text" name="daterange" />

    <script>
    $(function() {
      $('input[name="daterange"]').daterangepicker({
        opens: 'left'
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });
    </script>


    <script src="../../public/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../../public/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="../../public/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="../../public/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../../public/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="../../public/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="../../public/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../../public/javascripts/scripts.js"></script>
    <script src="../../public/javascripts/leteravatar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <input id="date_timepicker_start" type="text">
    <input id="date_timepicker_end" type="text">
    <input id="datetimepicker" type="text">
    <script>

        $(function () {
            $('#datetimepicker').datetimepicker();
            $('#date_timepicker_start').datetimepicker({
                format: 'Y/m/d',
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: $('#date_timepicker_end').val() ? $('#date_timepicker_end').val() : false
                    })
                },
                timepicker: false
            });
            $('#date_timepicker_end').datetimepicker({
                format: 'Y/m/d',
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#date_timepicker_start').val() ? $('#date_timepicker_start').val() : false
                    })
                },
                timepicker: false
            });
        });
        $(function () {
            $("#btnStar").click(function () {
                if ($("i.fa-star").css("color") == "rgb(236, 142, 19)")
                    $("i.fa-star").css("color", "black");
                else $("i.fa-star").css("color", "rgb(236, 142, 19)");
            });
            $("#btnModifyTeam").click(function () {
                if ($("#btnModifyTeam").text() == "Private Team")
                    $("#btnModifyTeam").text("Public Team");
                else $("#btnModifyTeam").text("Private Team");
            });
        });
    </script>
</body>

</html>