<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broad</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="/stylesheets/swiper.css" rel="stylesheet">
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

    <link href="/stylesheets/broad-add.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css">

</head>

<body>
    <!-- Navigation -->
    <% include ./includes/menu_home.ejs %>

    <div class="content"></div>
    <div id="addTodoListDiv">

        <form action="/broad/createTodo" method="POST">
            <input id="addTodoListInput" type="text" class="comment" name='titleName' />
            <button type="submit" id="addTodoListButton" class="btn-save">Add new list</button>
        </form>

    </div>

    <div id="root" class="lists-container"></div>
    <script>
        $(function () {
            $('ul[id^="sort"]').sortable({
                connectWith: ".sortable",
            }).disableSelection();
            
            $(".todoList").draggable();
            $(".todoList").droppable({
                drop: function (event, ui) {
                    debugger
                    // lấy ra di của thằng cữ
                    var idTaskOld = ui.draggable.attr("id");
                    console.log('idTaskOld')
                    console.log(idTaskOld)
                    // lấy của thằng cữ
                    var idTaskNew = $(this).attr("id");
                    console.log('idTaskNew')
                    console.log(idTaskNew)
                }
            });
        });
    </script>
    <script src="/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/leteravatar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/broad.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>
</body>

</html>