<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>10-DTP</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="../public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../public/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="../public/stylesheets/swiper.css" rel="stylesheet">
    <link href="../public/stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="../public/stylesheets/styles.css" rel="stylesheet">
    <link href="../public/stylesheets/scroll.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="../public/images/icon.svg">
</head>

<body data-spy="scroll" data-target=".fixed-top" data-target="#myScrollspy" data-offset="20">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img src="../public/images/logo.svg" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item search">
                    <!-- Search form -->
                    <form class="form-inline active-pink-3 active-pink-4">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header"><button class="btn btn-primary icon-menu"><i
                                class="fas fa-home"></i></button> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header"><button class="btn btn-primary icon-menu"><i
                                class="fas fa-bell"></i></button> <span class="sr-only">(current)</span></a>
                </li>
                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="round icon-menu" width="60" height="60" avatar="Lê Đình Tài">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <div class="intro dropdown-item">
                            <img class="round icon-menu" width="60" height="60" avatar="Lê Đình Tài">
                            <div class="infor">
                                <div class="name">Lê Đình Tài</div>
                            </div>
                        </div>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="#"><span class="item-text">Profile and Visibility</span></a>
                        <a class="dropdown-item" href="#"><span class="item-text">Activity</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="#"><span class="item-text">Help</span></a>
                        <a class="dropdown-item" href="#"><span class="item-text">Setting</span></a>
                        <a class="dropdown-item" href="#"><span class="item-text">Logout</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

                <!-- <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contact</a>
                </li> -->
            </ul>
        </div>
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <nav id="myScrollspy">
                        <ul class="nav nav-pills nav-stacked" style="display: block;">
                            <li class="select-menu">
                                <a href="#">
                                    <Button class="btn btn-light"><i class="fas fa-columns"></i> Boards</Button>
                                </a>
                            </li>
                            <li class="select-menu">
                                <a href="#">
                                    <Button class="btn btn-light"><i class="fas fa-newspaper"></i> Templates</Button>
                                </a>
                            </li>
                            <li class="select-menu">
                                <a href="#">
                                    <Button class="btn btn-light"><i class="fas fa-home"></i> Home</Button>
                                </a>
                            </li>
                            <li class="title-select">
                                TEAMS
                            </li>
                            <li class="select-menu">
                                <a href="#">
                                    <Button class="btn"><i class="fas fa-plus"></i>
                                        Create a team</Button>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-8 content-main">
                            <!-- bảng hiển thị -->
                            <div class="personal-broad">
                                <h3 style="margin-bottom: -80px; margin-top: 60px;">Personal broad</h3>
                                <div class="broads" id="broads">
                                    <div class="card">
                                        <b>Siêu nhân </b>
                                    </div>

                                    <div class="card">
                                        <b>Siêu nhân đỏ.</b>
                                    </div>

                                </div>
                                <div class="card" style="background: #cccccc3d; text-align: center; position: relative;">
                                    <b style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);">Create
                                        a new broad</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 recommend">
                            <nav id="myScrollspy">
                                <ul class="nav  nav-stacked">
                                    <li class="title-select "><i class="far fa-clock"></i> Recently Viewed</li>
                                    <li class="select-menu">
                                        <a href="#">
                                            <Button class="btn btn-light"><img width="30" height="30"
                                                    src="/images/header-background.jpg"> CNWeb nhóm 10</Button>
                                        </a>
                                    </li>
                                    <li class="select-menu">
                                        <a href="#">
                                            <Button class="btn btn-light"><img width="30" height="30"
                                                    src="/images/header-background.jpg"> CNWeb nhóm 10</Button>
                                        </a>
                                    </li>
                                    <li class="select-menu">
                                        <a href="#">
                                            <Button class="btn btn-light"><img width="30" height="30"
                                                    src="/images/header-background.jpg"> CNWeb nhóm 10</Button>
                                        </a>
                                    </li>
                                    <li class="title-select">
                                        LINKS
                                    </li>
                                    <li class="select-menu">
                                        <Button class="btn" data-toggle="modal" data-target="#createBroad"><i class="fas fa-plus"></i>
                                            Create a board
                                        </Button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- The Modal -->
            <div class="modal" id="createBroad">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Create a new broad</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Title ...">
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger">Create</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
    <!-- Scripts -->
    <script src="../public/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../public/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="../public/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="../public/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../public/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="../public/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="../public/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../public/javascripts/scripts.js"></script>
    <script src="../public/javascripts/leteravatar.js"></script>

    <script src="../public/javascripts/scroll.js"></script>
    <script src="../public/javascripts/home.js"></script>
    <!-- Custom scripts -->
</body>

</html>