<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broad</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
        rel="stylesheet">
    <link href="../../public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../../public/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="../../public/stylesheets/swiper.css" rel="stylesheet">
    <link href="../../public/stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="../../public/stylesheets/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch'
        href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

    <link href="../../public/stylesheets/broad-add.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css">


</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img src="../../public/images/logo.svg"
                alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item search">
                    <!-- Search form -->
                    <form class="form-inline active-pink-3 active-pink-4">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                            aria-label="Search">
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header"><button class="btn btn-primary icon-menu"><i
                                class="fas fa-home"></i></button> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header"><button class="btn btn-primary icon-menu"><i
                                class="fas fa-bell"></i></button> <span class="sr-only">(current)</span></a>
                </li>



                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        <img class="round icon-menu" width="30" height="30" avatar="Lê Đình Tài">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <div class="intro dropdown-item">
                            <img class="round icon-menu" width="30" height="30" avatar="Lê Đình Tài">
                            <div class="infor">
                                <div class="name">Lê Đình Tài</div>
                            </div>
                        </div>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="#"><span class="item-text">Profile and Visibility</span></a>
                        <a class="dropdown-item" href="#"><span class="item-text">Activity</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="#"><span class="item-text">Help</span></a>
                        <a class="dropdown-item" href="#"><span class="item-text">Setting</span></a>
                        <a class="dropdown-item" href="#"><span class="item-text">Logout</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->
            </ul>
        </div>

    </nav>
    <div class="header-board">
        <ul class="nav ">
            <li class="nav-item left">
                <li class="title-board nav-item">
                    <h4>Title của bảng</h4>
                </li>
                <li class="nav-item">
                    <button class="btn btn-light" id="btnStar"><i class="far fa-star"></i></button>
                </li>
                <li class="nav-item">
                    <div id="addTodoListDiv">
                        <input id="addTodoListInput" class="comment"
                            style="height: 30px; margin-top: 0px; margin-left: 10px;">
                        <button id="addTodoListButton" class="btn-save"
                            style="height: 35px;color: #212529;background-color: #f8f9fa;border-color: #f8f9fa; margin-top: 0px;">
                            Add List</button>
                    </div>
                </li>
            </li>
            <li class="nav-item">
                <button class="btn btn-light" id="btnModifyTeam">Private Team</button>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button type="button" id="memberTeam" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                        Member Team
                    </button>
                    <div class="dropdown-menu" style="padding: 10px 20px 20px 20px;">
                        <div class="intro dropdown-item" style="margin-top: 10px;">
                            <img class="round icon-menu" width="30" height="30" avatar="Lê Đình Tài">
                            <div class="infor">
                                <div class="name">Lê Đình Tài</div>
                            </div>
                        </div>
                        <div class="intro dropdown-item" style="margin-top: 10px;">
                            <img class="round icon-menu" width="30" height="30" avatar="Lê Đình Tài">
                            <div class="infor">
                                <div class="name">Trần abc</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button type="button" id="inviteTeam" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                        Invite
                    </button>
                    <div class="dropdown-menu" style="padding: 10px 20px 20px 20px;">
                        <div class="form-group" style="margin-left: 10px; margin-right: 10px;">
                            <input type="text" class="form-control" placeholder="Search user..." id="inviteInput">
                        </div>
                        <ul id="users">
                            <li class="dropdown-item">
                                <div class="intro" style="margin-top: 10px;">
                                    <img class="round icon-menu" width="30" height="30" avatar="Lê Đình Tài">
                                    <div class="infor">
                                        <div class="name">Lê Đình Tài</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <button class="btn btn-light" id="changeBackground">Change background</button>
            </li>
        </ul>
    </div>
    <div class="content"></div>

    <script>
        $(function () {
            $("#btnStar").click(function () {
                if ($("i.fa-star").css("color") == "rgb(236, 142, 19)")
                    $("i.fa-star").css("color", "black");
                else $("i.fa-star").css("color", "rgb(236, 142, 19)");
            });
            $("#btnModifyTeam").click(function () {
                if ($("#btnModifyTeam").text() == "Private Team")
                    $("#btnModifyTeam").text("Public Team");
                else $("#btnModifyTeam").text("Private Team");
            });
        });
    </script>

    <div id="root" class="lists-container"></div>
    <script src="../../public/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../../public/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="../../public/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="../../public/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../../public/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="../../public/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="../../public/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../../public/javascripts/scripts.js"></script>
    <script src="../../public/javascripts/leteravatar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../../public/javascripts/broad2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../../public/javascripts/dateTime.js"></script>
</body>

</html>