<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broad</title>

    <link href="../../public/stylesheets/broad-add.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
        rel="stylesheet">
    <link href="../../public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../../public/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="../../public/stylesheets/swiper.css" rel="stylesheet">
    <link href="../../public/stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="../../public/stylesheets/styles.css" rel="stylesheet">
</head>
<body>
    
    <div id="addTodoListDiv">
        <input id="addTodoListInput" class="comment">
        <button id="addTodoListButton" class="btn-save">Add new list</button>
    </div>
    
    <div id="root"></div>
    <script>
        $(function () {
            $('#sort').sortable(
                {
                    connectWith: "ul.sortable",
                }).disableSelection();
        });
    </script>


    <script src="../../public/javascripts/broad.js"></script>
    <script src="../../public/javascripts/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../../public/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="../../public/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="../../public/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../../public/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="../../public/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="../../public/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../../public/javascripts/scripts.js"></script>
    <script src="../../public/javascripts/leteravatar.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../../public/javascripts/scripts.js"></script>
    <script src="../../public/javascripts/leteravatar.js"></script>
    <script src="../../public/javascripts/broad.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>