<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Broad</title>

    <link href="../../public/stylesheets/broad-add.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch'
        href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

    <link href="../../public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../../public/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="../../public/stylesheets/swiper.css" rel="stylesheet">
    <link href="../../public/stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="../../public/stylesheets/styles.css" rel="stylesheet">
    <link href="../../public/stylesheets/broad-add.css" rel="stylesheet">
</head>

<body>

    <div id="addTodoListDiv">
        <input id="addTodoListInput" class="comment">
        <button id="addTodoListButton" class="btn-save" onclick="updateSord()">Add new list</button>
    </div>
    <h3 class="title-checklist">Xin chào</h3>
    <div class="progressbar-container">
        <div class="progressbar-bar"></div>
        <div class="progressbar-label"></div>
    </div>
    <form>        
        <ul>
            <li class="row">
                <input type="checkbox" name="box1" class="col-sm-1"/>
                <p class="col-sm-6" style="margin-left: -20px;">Xin chào Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi omnis vitae accusamus id dolore debitis? Enim officia nam facere provident, deserunt quis, voluptatibus adipisci saepe exercitationem aliquam, similique et.</p>
            </li>
            <li class="row">
                <input type="checkbox" name="box1" class="col-sm-1"/>
                <p class="col-sm-6" style="margin-left: -20px;">Xin chào Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi omnis vitae accusamus id dolore debitis? Enim officia nam facere provident, deserunt quis, voluptatibus adipisci saepe exercitationem aliquam, similique et.</p>
            </li>
            <li class="row">
                <input type="checkbox" name="box1" class="col-sm-1"/>
                <p class="col-sm-6" style="margin-left: -20px;">Xin chào Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi eligendi omnis vitae accusamus id dolore debitis? Enim officia nam facere provident, deserunt quis, voluptatibus adipisci saepe exercitationem aliquam, similique et.</p>
            </li>
        </ul>
    </form>
    <div class="ready"></div>
    <input type="text" class="form-control" placeholder="Title..." id="checklistInput">
    <button class="btn btn-success" style="text-align: center; margin-top: 10px;" id="addChecklist">Add</button>
    <div id="root"></div>
    <script>
        $(function () {
            $('ul[id^="sort"]').sortable(
                {
                    connectWith: ".sortable",
                }).disableSelection();
        });

    </script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../../public/javascripts/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="../../public/javascripts/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="../../public/javascripts/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../../public/javascripts/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="../../public/javascripts/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="../../public/javascripts/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../../public/javascripts/scripts.js"></script>
    <script src="../../public/javascripts/leteravatar.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="../../public/javascripts/scripts.js"></script>
    <script src="../../public/javascripts/leteravatar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../../public/javascripts/broad2.js"></script>
</body>

</html>